.container h1 {
  margin-bottom: 50px;
}

.container {
  padding: 20px;
  display: block;
}

img {
  width: 500px;
}

img:hover {
  transition: ease 0.5s;
  transform: scale(1.1);
  box-shadow: rgb(255, 0, 0) 0 0 30px;
  cursor: pointer;
}

.jogos {
  border-bottom: 2px solid white;
  padding: 20px;
  font-size: 30px;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 50px;
  box-shadow: 5px;
}

.container-jogo {
  text-align: center;
  margin: 0 auto;
}
